@{
    ViewData["Title"] = "Dashboard Akunting dan Keuangan";
    Layout = "~/Views/Shared/_TopNavbarAccountingAndFinancial.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Master Data</h4>
                        <p style="color:#ffffff">Master Data</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Transaksi</h4>
                        <p style="color:#ffffff">Transaksi</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Akun Pembelian</h4>
                        <p style="color:#ffffff">Akun Pembelian</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Akun Penerimaan</h4>
                        <p style="color:#ffffff">Akun Penerimaan</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Asset Tetap</h4>
                        <p style="color:#ffffff">Asset Tetap</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Petty Cash</h4>
                        <p style="color:#ffffff">Petty Cash</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Proses Kartu Kredit</h4>
                        <p style="color:#ffffff">Proses Kartu Kredit</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Jurnal Masukan</h4>
                        <p style="color:#ffffff">Jurnal Masukan</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">General Ledger</h4>
                        <p style="color:#ffffff">General Ledger</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Konfigurasi</h4>
                        <p style="color:#ffffff">Konfigurasi</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Laporan</h4>
                        <p style="color:#ffffff">Laporan</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->