@{
    ViewData["Title"] = "Dashboard Pasien Luar";
    Layout = "~/Views/Shared/_TopNavbarPatientRegistration.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientLaboratorium" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Laboratorium</h4>
                        <p style="color:#ffffff">Laboratorium</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientRadiologi" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Radiologi</h4>
                        <p style="color:#ffffff">Radiologi</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Konsultasi Gizi</h4>
                        <p style="color:#ffffff">Konsultasi Gizi</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientRehabilitasiMedik" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Rehabilitasi Medik</h4>
                        <p style="color:#ffffff">Rehabilitasi Medik</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientMedicalCheckUp" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Medical Check Up</h4>
                        <p style="color:#ffffff">Medical Check Up</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientFasilitas" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Fasilitas</h4>
                        <p style="color:#ffffff">Fasilitas</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientAmbulance" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Ambulance</h4>
                        <p style="color:#ffffff">Ambulance</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="ExternalPatient" asp-action="PatientOptik" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Optik</h4>
                        <p style="color:#ffffff">Optik</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->