@{
    ViewData["Title"] = "Dashboard Pendaftaran Pasien";
    Layout = "~/Views/Shared/_TopNavbarPatientRegistration.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row mb-2">
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Dashboard" asp-action="PatientList" asp-area="PatientRegistration">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Daftar Pasien</h4>
                        <p style="color:#ffffff">Daftar Pasien</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Pasien Perjanjian</h4>
                        <p style="color:#ffffff">Pasien Perjanjian</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Antrian Pendaftaran</h4>
                        <p style="color:#ffffff">Antrian Pendaftaran</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Booking Bed</h4>
                        <p style="color:#ffffff">Booking Bed</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Membership</h4>
                        <p style="color:#ffffff">Membership</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Laporan Harian Klinik</h4>
                        <p style="color:#ffffff">Laporan Harian Klinik</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-wheelchair"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->