@{
    ViewData["Title"] = "Dashboard Mandiri In Health";
}

<!-- Content Header (Page header) -->
<div class="content-header">
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row mb-2">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5 class="fw-bold"><i class="fas fa-hospital"></i> Dashboard Mandiri In Health</h5>
                    Benari Mikron memiliki banyak module di dalamnya, setiap module memiliki fungsi yang berbeda-beda. Silahkan pilih menu sesuai kebutuhan.
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row mb-2">
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Master Data</h4>
                            <p style="color:#ffffff">Master Data</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-walking"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Mapping Data</h4>
                            <p style="color:#ffffff">Mapping Data</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-walking"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Claim In Health</h4>
                            <p style="color:#ffffff">Claim In Health</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-walking"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Konfigurasi</h4>
                            <p style="color:#ffffff">Konfigurasi</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-walking"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <!-- /.row -->

        </div><!--/. container-fluid -->
</section>
<!-- /.content -->