@{
    ViewData["Title"] = "Dashboard Manajemen Kesehatan";
    Layout = "~/Views/Shared/_TopNavbarHealthManagement.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="row mb-2">        
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Doctor" asp-action="Dashboard">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Dokter</h4>
                        <p style="color:#ffffff">Dokter</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">IGD</h4>
                        <p style="color:#ffffff">IGD</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Laboratorium</h4>
                        <p style="color:#ffffff">Laboratorium</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Radiologi</h4>
                        <p style="color:#ffffff">Radiologi</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Rehab Medik</h4>
                        <p style="color:#ffffff">Rehab Medik</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Hemodialisa</h4>
                        <p style="color:#ffffff">Hemodialisa</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Ruang Bedah</h4>
                        <p style="color:#ffffff">Ruang Bedah</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Ruang Rawat Inap</h4>
                        <p style="color:#ffffff">Ruang Rawat Inap</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">MCU</h4>
                        <p style="color:#ffffff">MCU</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Bank Darah</h4>
                        <p style="color:#ffffff">Bank Darah</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Rekam Medis</h4>
                        <p style="color:#ffffff">Rekam Medis</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small box -->

            <a asp-controller="Administration" asp-action="Index">
                <div class="small-box bg-orange">
                    @*change color in adminlte.min.cs*@
                    <div class="inner">
                        <h4 class="fw-bold" style="color:#ffffff">Poliklinik</h4>
                        <p style="color:#ffffff">Poliklinik</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                </div>
            </a>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->