@{
    ViewData["Title"] = "Tambah Gelar Dokter";
    Layout = "~/Views/Shared/_TopNavbarHealthManagementDoctor.cshtml";
}

@using BenariMikronWebApp.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using BenariMikronWebApp.Areas.HealthManagement.Models;

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model CreateDoctorTitleViewModel

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12 bg-white">
            <div class="card-header bg-orange">
                <h3 class="card-title fw-bold" style="color:#ffffff">@ViewBag.Title</h3>
            </div>

            <form enctype="multipart/form-data" asp-controller="DoctorTitle" asp-action="CreateDoctorTitle" method="post" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="KodeGelar">Kode Tipe Dokter</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="KodeGelar" class="form-control form-control-border border-width-2" id="" placeholder="Kode Gelar" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="NamaGelar">Nama Gelar (*)</label>
                        <div class="col-sm-9">
                            <input maxlength="100" type="text" asp-for="NamaGelar" class="form-control form-control-border border-width-2" id="" placeholder="Nama Gelar">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Deskripsi">Deskripsi</label>
                        <div class="col-sm-9">
                            <input maxlength="100" type="text" asp-for="Deskripsi" class="form-control form-control-border border-width-2" id="" placeholder="Deskripsi">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="LapRL1">Lap RL 1 ? (*)</label>
                        <div class="col-sm-9">
                            <select asp-for="LapRL1" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Pilih RL 1--</option>
                                <option value="Ya">Ya</option>
                                <option value="Tidak">Tidak</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="LapRL2">Lap RL 2 ? (*)</label>
                        <div class="col-sm-9">
                            <select asp-for="LapRL2" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Pilih RL 2--</option>
                                <option value="Ya">Ya</option>
                                <option value="Tidak">Tidak</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="Status">Status (*)</label>
                        <div class="col-sm-9">
                            <select asp-for="Status" class="form-control select2bs4" style="width: 100%;">
                                <option value="" hidden disabled selected>--Pilih Status--</option>
                                <option value="Dokter">Dokter</option>
                                <option value="Perawat">Perawat</option>
                                <option value="Bidan">Bidan</option>
                                <option value="Farmasi">Farmasi</option>
                                <option value="Tenaga Kesehatan Lainnya">Tenaga Kesehatan Lainnya</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- start button footer -->
                <div class="card card-orange">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary bg-orange float-left fw-bold"><div style="color:#ffffff">Simpan</div></button>
                        <a class="btn btn-default" asp-action="Index" asp-controller="DoctorType">Batal</a>
                    </div>
                </div>
                <!-- /.end button footer -->
                @section Scripts {
                    <script>
                        $(function () {
                            //Initialize Select2 Elements
                            $('.select2bs4').select2({
                                theme: 'bootstrap4'
                            })
                        })
                    </script>
                }
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->