@{
    ViewData["Title"] = "Dashboard Support IT";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    @*<div class="container-fluid">
    <div class="row mb-2">*@
    @*<div class="col-sm-6">
    <h1 class="m-0">Dashboard Benari Mikron</h1>
    </div>*@<!-- /.col -->
    @*<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item active">Dashboard</li>*@
    @*<li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Dashboard v2</li>*@
    @*</ol>
    </div>*@<!-- /.col -->
    @*</div><!-- /.row -->*@
    @*</div><!-- /.container-fluid -->*@
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row mb-2">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5 class="fw-bold"><i class="fas fa-hospital"></i> Dashboard Support IT</h5>
                    Benari Mikron memiliki banyak fitur di dalamnya, setiap fitur memiliki fungsi yang berbeda-beda. Silahkan pilih menu sesuai kebutuhan.
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row mb-2">
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Master Data</h4>
                            <p style="color:#ffffff">Master Data</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-secret"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Transaksi Asset</h4>
                            <p style="color:#ffffff">Transaksi Asset</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-secret"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Support Ticket</h4>
                            <p style="color:#ffffff">Support Ticket</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-secret"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->

                <a asp-controller="Administration" asp-action="Index">
                    <div class="small-box bg-orange">
                        @*change color in adminlte.min.cs*@
                        <div class="inner">
                            <h4 class="fw-bold" style="color:#ffffff">Laporan</h4>
                            <p style="color:#ffffff">Laporan</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-secret"></i>
                        </div>
                        @*<a href="#" class="small-box-footer">Masuk <i class="fas fa-arrow-circle-right"></i></a>*@
                    </div>
                </a>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div><!--/. container-fluid -->
</section>
<!-- /.content -->